/* 기본 스타일 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 110px; /* 메뉴바 높이에 맞춰 여백을 줄임 */
}

.main-container {
    display: flex;
}

.game-list {
    width: 20%;
    background-color: #2a475e;
    padding: 20px;
    border-right: 1px solid #66c0f4;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.game-list ul {
    list-style: none;
    padding: 0;
}

.game-list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #66c0f4;
}

.game-list li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.library-overview {
    display: block;
    width: 80%;
    padding: 20px;
}

.game-details {
    display: none;
    width: 80%;
    padding: 20px;
}

.game-header {
    text-align: center; /* 글자를 가운데로 배치 */
}

.game-header img {
    width: 100%;
    height: 500px; /* 이미지 크기를 크게 설정 */
    margin-bottom: 20px;
}

h1 {
    text-align: center; /* 제목을 가운데 정렬 */
    line-height: 1.8; /* 텍스트 간격을 늘림 */
}

.install-btn {
    padding: 10px 20px;
    background-color: #66c0f4;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.tabs button {
    margin-right: 10px;
    padding: 10px;
    background-color: #3b4f63;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.activity {
    margin-top: 20px;
}

.update {
    margin-top: 20px;
    background-color: #2a475e;
    padding: 10px;
    border-radius: 5px;
}

.friend-activity {
    margin-top: 20px;
    background-color: #2a475e;
    padding: 10px;
    border-radius: 5px;
}

.friend-activity img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
