/* 기본 스타일 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin-top: 110px; /* 메뉴바 높이에 맞춰 여백을 줄임 */
}

.payment-header {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a475e;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.payment-header h2 {
    color: #fff;
}

.confirm-button {
    background-color: #66c0f4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.confirm-button:hover {
    background-color: #4a8db4;
}

.payment-details {
    margin-top: 200px;
    background-color: #2a475e;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.item-info {
    flex-grow: 1;
    margin-left: 20px;
}

.item-name {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.item-price {
    font-size: 1.1em;
    color: #66c0f4;
}

.total-price {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    margin-top: 10px;
    border-top: 1px solid #66c0f4;
    padding-top: 10px;
}

.payment-summary {
    background-color: #2a475e;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.steam-points {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.points {
    font-size: 1.2em;
    color: #66c0f4;
}

.payment-method {
    font-size: 1.1em;
}

.terms {
    background-color: #2a475e;
    padding: 20px;
    border-radius: 5px;
}

.terms p {
    margin-bottom: 15px;
    font-size: 0.9em;
}

.terms a {
    color: #66c0f4;
}

.payment-button {
    background-color: #a6d921;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.payment-button:hover {
    background-color: #8fb81b;
}
