/* 기본 스타일 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin-top: 110px; /* 메뉴바 높이에 맞춰 여백을 줄임 */
}

.containers {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.payment-top {
    background-color: #4C6D0E;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.payment-head{
    width: 870px;
    height: 100px;
}


.payment-details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.container2 {
    margin-left: 20px;
    width: 250px;
    height: 160px;
    padding: 20px;
    background-color: #80a902c2;
    border-radius: 15px;
}

.container2 p:nth-child(1){
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    width: 600px;
    padding: 20px;
    background-color: #bfff008c;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 3px solid #000000;
    border-radius: 5px;
}
.cart-item img {
    width: 140px;
    height: 50px;
}
.item-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
}
.item-details div {
    display: flex;
    align-items: center;
}
.total {
    text-align: right;
    margin-top: 20px;
}
.point-box, .payment-method, .terms {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff9b;
    border-radius: 5px;
}
.point-box span, .payment-method span, .terms span {
    display: block;
    margin-bottom: 10px;
}
.point-box {
    display: flex;
    justify-content: space-between;
}
.confirm-btn {
    display: block;
    width: 100%;
    background-color: #5C7E10;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
}
.confirm-btn:hover {
    background-color: #4C6D0E;
}