/* Reset 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}

/* 상단 네비게이션 */
header {
    background-color: #000000;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.hamburger {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.logo {
    font-size: 50px;
    color: white;
}

.nav-right {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-right a {
    margin-left: 15px;
}

.nav-right a img {
    width: 25px;
}

/* 검색창 */
.search-form {
    position: relative;
    display: flex;
    align-items: center;
}

.search-form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    transition: width 0.5s ease;
    width: 0; /* 검색창 기본적으로 숨김 */
    opacity: 0;
    visibility: hidden;
}

.search-form input.active {
    width: 200px;
    opacity: 1;
    visibility: visible;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

/* 사이드바 */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #31326F;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}


/* 메인 */
.swiper-containers{
    width: 100vw;
    height: 700px;
    background-color: #abff76;
    position: relative;
}
.wave-container {
    position: absolute;
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.waves {
    margin-top: 560px;
    position: relative;
    width: 100vw;
    height: 140px;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}
/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55,.5,0.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media(max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}
/* 메인 배너 슬라이더 */
.swiper-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -350px;
    width: 700px;
    height: 400px;
    overflow: hidden;
}
.swiper-container2 {
    position: absolute;
    opacity: 0.6;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -700px;
    width: 600px;
    height: 300px;
    overflow: hidden;
}
.swiper-container3 {
    position: absolute;
    opacity: 0.6;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: 100px;
    width: 600px;
    height: 300px;
    overflow: hidden;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.banner-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 18px;
}

/* 특별할인 */
.bigsale-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: white;
    height: 500px;
    
}
.sale-container{
    width: 1000px;
    height: 450px;

    /* background: rgb(255, 130, 130); */
    border: 1px solid red;
}

.sale-container p {
    margin: 10px;
    width: 100%;
    text-align: left;
}

.sale-items {
    width: 100%;
    height: 80%;
    border: 1px solid rgb(187, 255, 41);
}

/* 하단 카테고리 */
.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-image: linear-gradient(120deg,#9DDFD3,#FFDADA);
    height: 20vh;
}

.category-item {
    text-align: center;
    margin: 0 20px;
}

.category-item a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 링크 클릭 시 기본 색상 유지 */
}


.category-item img {
    width: 50px;
    margin-bottom: 10px;
}

.category-item p {
    color: white;
    font-size: 14px;
}

/* Swiper 화살표 커스터마이징 */
.swiper-button-next, .swiper-button-prev {
    color: white;
    border: 1px solid red;
}


