/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 필터 영역 */
.filter-section {
    margin-top: 110px;
    background-color: #222;
    padding: 10px 20px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-container select {
    padding: 5px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.category-icons i {
    margin-left: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.category-icons i:hover {
    color: #f39c12;
}

/* 게임 목록 */
.game-list-section {
    padding: 40px 20px;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.game-card {
    background-color: #333;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.game-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.game-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.game-card p {
    font-size: 16px;
    color: #ddd;
}

.sale {
    color: #e74c3c;
    font-weight: bold;
}

/* 푸터 */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
