/* 기본 스타일 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
}


/* 메인 컨텐츠 */
.main-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 140px;
}

.wishlist-section {
    width: 80%;
}

.wishlist-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* 검색창 스타일 추가 */
.wishlist-search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.wishlist-search input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    margin-right: 10px;
}

.wishlist-search button {
    padding: 10px 15px;
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.wishlist {
    list-style: none;
    padding: 0;
}

.wishlist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#abff76, #adf4a900);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
}

.wishlist-item img {
    width: 120px;
    height: 80px;
    margin-right: 20px;
    object-fit: cover;
}

.game-info {
    flex: 1;
}

.price-info {
    text-align: right;
    min-width: 150px;
}

.game-info h3 {
    margin-bottom: 5px;
    font-size: 20px;
}

.game-info p {
    margin-bottom: 3px;
}

.price-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.discount {
    color: #66c0f4;
    font-weight: bold;
}

.add-to-cart,
.remove-from-wishlist {
    background-color: #363636;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}

.add-to-cart:hover,
.remove-from-wishlist:hover {
    background-color: #549bbd;
}

.tags {
    margin-top: 5px;
}

.tags span {
    display: inline-block;
    background-color: #3b4f63;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
}
